
  <h1 class="title"> Versus </h1>

  <div class="d-flex flex-column flex-lg-row justify-content-lg-center">


    <div class="list">
      <h2 class="title80"> 80's </h2>
      <ol>
        <% grades.filter(grade => grade.movieID.decade === 80).forEach(grade => { %>
        <li>
          <p><%= grade.movieID.title %></p>
          <img class="covers" src="<%= grade.movieID.cover %>" alt="<%= grade.movieID.title%>">
        </li>
        <% }) %>
      </ol>
    </div>

        <div class="list">
          <h2 class="title90"> 90's </h2>
          <ol>
            <% grades.filter(grade => grade.movieID.decade === 90).forEach(grade => { %>
            <li>
              <p><%= grade.movieID.title %></p>
              <img class="covers" src="<%= grade.movieID.cover %>" alt="<%= grade.movieID.title%>">
            </li>
            <% }) %>
          </ol>
        </div>

      <div class="list">
        <h2 class="title00"> 00's </h2>
        <ol>
          <% grades.filter(grade => grade.movieID.decade === 2000).forEach(grade => { %>
          <li>
            <p><%= grade.movieID.title %></p>
            <img class="covers" src="<%= grade.movieID.cover %>" alt="<%= grade.movieID.title%>">
          </li>
          <% }) %>
        </ol>
      </div>

  </div>

</div>
