
  <h1 class="title"> Versus </h1><br>

  <!-- <div class="container">
    <h2 class="condition">You need to vote for 10/50 more to access to your Top_List </h2>
    <div class="progress">
      <div class="progress-bar" role="progressbar" aria-valuenow="30" aria-valuemin="0" aria-valuemax="50" style="width:60%">
        30/50
      </div>
    </div>
  </div>
  <br> -->
    <div class="d-flex align-items-stretch">
      <div class="movie1">
        <!-- <h3><%=movie1.title%> -->


          <form method="POST">
            <input type="hidden" name="winningMovie" value="0">
            <input type="hidden" name="movie1Id" value="<%= movie1._id %>">
            <input type="hidden" name="movie2Id" value="<%= movie2._id %>">
            <button class="versusButton" type="submit">
              <img class="covers" src="<%= movie1.cover %>" alt="<%= movie1.title%>">
            </button>
          </form>
        </div>
        <!-- </h3> -->

      <div class="d-flex align-self-center versus">
        <form method="GET">
          <button class="versusButton" type="submit">
            <img class="vs" src="https://vignette1.wikia.nocookie.net/deathbattlefanon/images/0/0a/Vs_logo.png/revision/latest?cb=20160707222803&format=original" alt="VS" >
          </button>
        </form>
      </div>
      <div class="movie2">
        <!-- <h3><%=movie2.title%> -->
        <form method="POST">
          <input type="hidden" name="winningMovie" value="1">
          <input type="hidden" name="movie1Id" value="<%= movie1._id %>">
          <input type="hidden" name="movie2Id" value="<%= movie2._id %>">
          <button class="versusButton" type="submit">
            <img class="covers" src="<%= movie2.cover %>" alt="<%= movie1.title%>">
          </button>
        </form>
      <!-- </h3> -->

    </div>
    </div>
